<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Requirements"
            id="com.rtlabs.reqtool.ui">
      </category>
      <view
            name="Trace View"
            icon="icons/sample.gif"
            category="com.rtlabs.reqtool.ui"
            class="com.rtlabs.reqtool.ui.views.TraceView"
            id="com.rtlabs.reqtool.ui.views.TraceView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.rtlabs.reqtool.ui.views.TraceView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.rtlabs.reqtool.ui.editors.SpreadSheetEditor"
            contributorClass="com.rtlabs.reqtool.ui.editors.SpreadSheetActionBarContributor"
            default="false"
            extensions="spec"
            id="com.rtlabs.reqtool.ui.editor"
            name="Requirements Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.rtlabs.reqtool.ui.handler.AddRequirement"
            id="com.rtlabs.reqtool.ui.addRequirement"
            name="Add Requirement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.rtlabs.reqtool.ui.addRequirement"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+N">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.rtlabs.reqtool.ui.category"
            name="Requirements">
      </category>
      <wizard
            category="com.rtlabs.reqtool.ui.category"
            class="com.rtlabs.reqtool.ui.wizards.NewWizard"
            id="com.rtlabs.reqtool.ui.wizard"
            name="Specification">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.capra.configuration.persistenceHandler">
      <persistenceHandler
            class="com.rtlabs.reqtool.ui.adapters.TracePersistenceAdapterImpl">
      </persistenceHandler>
   </extension>
   <extension
         point="org.eclipse.capra.configuration.TraceabilityMetaModel">
      <TraceabilityMetaModelAdapter
            class="com.rtlabs.reqtool.ui.adapters.TraceMetaModelAdapterImpl">
      </TraceabilityMetaModelAdapter>
   </extension>
   <extension
         point="org.eclipse.capra.configuration.ArtifactMetaModel">
      <ArtifactMetaModelAdapter
            class="com.rtlabs.reqtool.ui.adapters.ArtifactMetaModelAdapterImpl">
      </ArtifactMetaModelAdapter>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.rtlabs.reqtool.ui.views.TraceView">
         <menu
               commandId="org.eclipse.ui.navigate.showInQuickMenu"
               id="view.views.SampleView.showInMenu"
               label="Show In">
            <dynamic
                  class="org.eclipse.ui.ExtensionFactory:showInContribution"
                  id="org.eclipse.ui.menus.dynamicShowInMenu">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   -->

</plugin>
