<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ReqTool"
            id="com.rtlabs.reqtool.ui">
      </category>
      <view
            name="Trace View"
            icon="icons/sample.gif"
            category="com.rtlabs.reqtool.ui"
            class="com.rtlabs.reqtool.ui.views.TraceView"
            id="com.rtlabs.reqtool.ui.views.TraceView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.rtlabs.reqtool.ui.views.TraceView">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.rtlabs.reqtool.ui.editors.SpecificationEditor"
            contributorClass="com.rtlabs.reqtool.ui.editors.support.SpecificationEditorActionBarContributor"
            default="false"
            extensions="spec"
            id="com.rtlabs.reqtool.ui.editor"
            name="Requirements Editor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.commandImages">
      <image
         commandId="com.rtlabs.reqtool.ui.generateRobotTestCase"
         icon="icons/generate_code.png" />
    </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.rtlabs.reqtool.ui.commands.category" name="ReqTool">
      </category>
      <command
            defaultHandler="com.rtlabs.reqtool.ui.handler.AddRequirement"
            id="com.rtlabs.reqtool.ui.addRequirement"
            categoryId="com.rtlabs.reqtool.ui.commands.category"
            name="Add Requirement">
      </command>
      <command
            defaultHandler="com.rtlabs.reqtool.ui.test_case_generation.GenerateTestCaseHandler"
            id="com.rtlabs.reqtool.ui.generateRobotTestCase"
            categoryId="com.rtlabs.reqtool.ui.commands.category"
            name="Generate Robot Framework Tests">
      </command>
      <command
            defaultHandler="com.rtlabs.reqtool.ui.handler.DecorateRequirementsHandler"
            id="com.rtlabs.reqtool.ui.decorateRequirements"
            categoryId="com.rtlabs.reqtool.ui.commands.category"
            name="Decorate Requirements Table with Test Results">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.rtlabs.reqtool.ui.addRequirement"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+N">
      </key>
      <key
            commandId="com.rtlabs.reqtool.ui.generateRobotTestCase"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+G">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.rtlabs.reqtool.ui.category"
            name="ReqTool">
      </category>
      <wizard
            category="com.rtlabs.reqtool.ui.category"
            class="com.rtlabs.reqtool.ui.wizards.NewSpecificationWizard"
            id="com.rtlabs.reqtool.ui.wizard"
            name="Specification">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.capra.configuration.persistenceHandler">
      <persistenceHandler
            class="com.rtlabs.reqtool.ui.adapters.TracePersistenceAdapterImpl">
      </persistenceHandler>
   </extension>
   
   <extension
         point="org.eclipse.capra.configuration.traceabilityMetaModel">
      <TraceabilityMetaModelAdapter
            class="com.rtlabs.reqtool.ui.adapters.TraceMetaModelAdapterImpl">
      </TraceabilityMetaModelAdapter>
   </extension>
   
   <extension
         point="org.eclipse.capra.configuration.artifactMetaModel">
      <ArtifactMetaModelAdapter
            class="com.rtlabs.reqtool.ui.adapters.ArtifactMetaModelAdapterImpl">
      </ArtifactMetaModelAdapter>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.rtlabs.reqtool.ui.views.TraceView">
         <menu
               commandId="org.eclipse.ui.navigate.showInQuickMenu"
               id="view.views.SampleView.showInMenu"
               label="Show In">
            <dynamic
                  class="org.eclipse.ui.ExtensionFactory:showInContribution"
                  id="org.eclipse.ui.menus.dynamicShowInMenu">
            </dynamic>
         </menu>
      </menuContribution>

      <!-- Main Eclipse toolbar with Generate Test button -->
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="com.rtlabs.reqtool.ui.toolbar" label="ReqTool">
            <command commandId="com.rtlabs.reqtool.ui.generateRobotTestCase" style="push"/>
         </toolbar>
      </menuContribution>
   </extension>

   <!-- Reqister wizards view model EMF package -->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="com.rtlabs.reqtool.ui.model.wizards"
            class="com.rtlabs.reqtool.ui.model.wizards.WizardsPackage"
            genModel="src/com/rtlabs/reqtool/ui/wizards/wizards_model.xcore"/>
   </extension>

   <!-- Reqister wizards view model adapter factory -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated model -->
      <factory
            uri="com.rtlabs.reqtool.ui.model.wizards"
            class="com.rtlabs.reqtool.ui.model.wizards.provider.WizardsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
   <!-- Export wizards -->
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.rtlabs.reqtool.ui.category"
            class="com.rtlabs.reqtool.ui.wizards.GenerateSpecificationDocumentWizard"
            icon="icons/generate_code_large.png"
            id="com.rtlabs.reqtool.ui.wizard.generateSpecificationDocument"
            name="Generate Specification Document">
      </wizard>
      <category
            id="com.rtlabs.reqtool.ui.category"
            name="ReqTool">
      </category>
   </extension>

</plugin>
