<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Mars" sequenceNumber="23">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="0.0.0"/>
<unit id="com.google.guava.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nattable/releases/1.3.0/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.github.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/egit/github/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.9.1.v201512180746"/>
<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.18.0.v20151013-1847"/>
<unit id="org.eclipse.mylyn.git.feature.group" version="1.10.0.v20151009-2340"/>
<unit id="org.eclipse.mylyn.trac_feature.feature.group" version="3.18.0.v20151009-2340"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.8.1.201602051005"/>
<unit id="org.eclipse.mylyn.team_feature.feature.group" version="3.18.0.v20151120-2228"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.3.2.v20160209-0349"/>
<unit id="org.eclipse.cdt.testsrunner.feature.feature.group" version="8.8.1.201602051005"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.18.0.v20151211-2235"/>
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="2.7.0.v20151015-1452"/>
<unit id="org.eclipse.cdt.mylyn.feature.group" version="5.14.0.v20151013-1847"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.2.v20160208-0841"/>
<unit id="org.eclipse.emf.emfstore.sdk.feature.feature.group" version="1.7.0.v20160209-0511"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.6.1.201508170204"/>
<unit id="org.eclipse.mylyn.hudson.feature.group" version="1.10.0.v20151013-2221"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.8.0.20160216-1319"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Doomph.update.url=http://download.eclipse.org/oomph/updates/milestone/latest -Doomph.redirection.index.redirection=index:/-&gt;http://git.eclipse.org/c/oomph/org.eclipse.oomph.git/plain/setups/ -Dosgi.requiredJavaVersion=1.7 -Xms256m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
